@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: black;
  width: 100%;
}

.logo {
  width: 70px;
}

nav{
  width: 50%;
}

.stay{
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

a{
  color: white;
}


.me {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  list-style: none;
}

.bars{
  font-size: 25px;
  color: rgb(128, 15, 15);
  display: none;
  cursor: pointer;
}

@media all and (max-width: 969px){
  .bars{
    font-size: 20px;
    color: rgb(228, 213, 213);
    display: flex;
  }

  .me {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 50px;
    width: 50%;
    transform: translateX(0px);
    transition: .9 ease-in-out;
    z-index: 1;
    }

  .stay {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-500px);
    transition: .9 ease-in-out;
    }

  .me li{
    padding: 25px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
  }

  .logo {
    width: 70px;
  }
}
